<h2><%= l(:label_password_recovery) %></h2>

<%= form_tag lost_password_path(token: params[:token]), method: :post do %>
  <p>
    <label><%= l(:field_new_password) %></label><br />
    <%= password_field_tag 'new_password' %>
  </p>
  <p>
    <label><%= l(:field_password_confirmation) %></label><br />
    <%= password_field_tag 'new_password_confirmation' %>
  </p>
  <%= submit_tag l(:button_change_password) %>
<% end %>